body {
  background-color: #ededed;
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
}
/* ------------------------------------------------------------- */

.container {
  display: grid;
  height: 100%;
  /* Membuat Grid menjadi 4 baris tiga kolom */
  grid-template-areas:
    "header header header"
    "menu menu menu"
    "content content sidebar"
    "footer footer footer";
  /* Mengatur besar setiap kolom dan baris pada bagian bagian grid */
  grid-template-columns: 200px 1fr 300px;
  grid-template-rows: 400px 50px 1fr 50px;
  gap: 5px; /* memberikan jarak setiap container elemen yang di bungkus oleh class container*/
}

.header {
  grid-area: header; /* untuk mengdeklarasi bahwa ini bagian header pada class container */
  background-image: url("./gambar/background2.png");
  background-position: center;
  box-shadow: 0px 0px 10px rgb(0, 0, 0); /* membarikan efk bayangan */

  text-align: center; /* mengatur agar rata tengah secara horizontal */
  display: flex;
  justify-content: center; /* Mengatur agar rata tengah secara vertikal */
  flex-direction: column;
  border-radius: 5px;
}

.menu {
  grid-area: menu; /* untuk mengdeklarasi bahwa ini bagian menu pada class container */
  background-color: #1f3a36;
  box-shadow: 0px 0px 8px rgb(0, 0, 0);

  display: flex;
  flex-direction: column; /* mengatur agar flex di susun secara vertikal*/
  flex-wrap: wrap; /* mengubah yang awal nya dari kolom menjadi vertikal*/
  /* gap: 100px; */
}

.navigasi a {
  font-size: xx-large;
  color: white;
  text-decoration: none; /* Untuk menghilangkan garis bawah pada menu navigasi */
  font-weight: bold;
}
.navigasi {
  text-align: center; /* untuk mengatus agar text rata tengah secara horizontal*/
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-items: center;

  grid-area: sidebar; /* untuk mengdeklarasi bahwa ini bagian sidebar pada class container */
  background-color: #f4f1e6;
  box-shadow: 0px 0px 8px rgb(0, 0, 0); /*menciptakan banyangan*/
}

.footer {
  grid-area: footer; /* untuk mengdeklarasi bahwa ini bagian footer pada class container */
  background-color: #1f3a36;
  box-shadow: 0px 0px 8px rgb(0, 0, 0);
  color: white;

  display: flex;
  text-align: center; /*untuk mengatur agar text berada di tengah secara horizontal*/
  justify-content: center;
  flex-direction: column; /* untuk mengatur konten agar tersusun seacara vertikal*/
}

/* Mengatur judul pada Header di semua halaman */
h1 {
  font-size: 50px;
  color: white;
  text-shadow: 0px 8px 20px #f4f1e6;
}
/* Mengdeklarasikan class content berada di area content pada class container */
.content {
  grid-area: content;
}
/*  */
.box {
  background-color: white;
  margin: 5px;
  border-style: solid;
  border-color: #1f3a36;
  border-width: 4px;
  border-radius: 7px;
  width: 90%;
  height: auto;
}
/*  */
.box h2 {
  background-color: #1f3a36;
  margin: 0;
  text-align: center;
  color: white;
}
/*  */
.box p {
  margin: 10px;
  padding: 5px;
  font-weight: bold;
  font-size: larger;
}

/* ====== index ====== */

/* Index: Mengatur Layout pada halaman content Index */
.contentIndex {
  grid-area: content;

  display: grid;
  grid-template-areas: "kiri kanan";
  grid-template-columns: 1.5fr 1fr;
  box-shadow: 0px 0px 8px rgb(0, 0, 0);

  background-color: #f4f1e6;
  padding: 10px;
}

/*index: mengatur semua gambar*/
.gambar1,
.gambar2,
.gambar3,
.gambar4,
.gambar5,
.gambar6,
.gambar7 {
  border-radius: 5px;
  height: 150px;
  width: 150px;
}
/* Index: Mengatur gambar pada class kumpulan foto secara Horizontal  */
.kumpulan_foto {
  display: flex;
}

/* Index: Mengatur foto pada class gambar kiri*/
.gambarkiri {
  margin: 35px;
  height: 150px;
  width: 150px;
  border-radius: 30px;
  object-fit: cover;
}
/* Index: mengatur class foto agar di atur secara vertikal */
.foto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding-left: 50px;
  padding-right: 50px;
}
/* Index: Mengatur agar foto dan vidio memiliki banyangan agar foto dan vidio terlihat mencolok */
.foto img,
.kumpulan_gambar img,
.foto video {
  box-shadow: 0px 5px 5px rgb(0, 0, 0);
  margin-bottom: 10px;
}
/* Index: mengatur text dan sub judul agar rata tengah secara horizontal */
.foto p,
h3 {
  text-align: center;
  margin: 2px;
}
/* Index: Mengatur warna class s_judul  */
.s_judul {
  color: #32827a;
}
/* Index: mengatur seluruh tag p memiliki panjang maksimal 700px */
p {
  max-width: 700px;
}
/* Index: Mengatur Table */
table,
tr,
td,
th {
  text-align: left;
  border: 2px black solid;
  border-collapse: collapse;
  padding: 10px;
}
/* index: mengatur agar judul pada table memiliki warna putih */
th {
  background-color: #1f3a36;
  color: white;
}
/* Index: mengatur table agar berada rata tengah pada */
.harga {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}
/* Index: mengatur statistik project yang telah di selesaikan (pencapaian) agar rata tengah (center) pada grid area kiri */
.stats {
  display: flex;
  justify-content: center;
  gap: 30px;
}
/* Index: Mengatur tag p di class tersebut memiliki margin 0px */
.sub-stats p {
  margin: 0px;
}
/* Index: Mengatur tag h3 di class tersebut memiliki margin 10px agar ada jarak dengan table */
.sub-stats h3 {
  margin-top: 10px;
}
/* Index: Mengatur class .sub-stats di atur secara vertikal */
.sub-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

/* Index: menciptakan garis kecil */
.garis {
  width: 60px;
  height: 1px;
  background-color: #32827a;
  border: solid;
  border-color: #32827a;
  border-radius: 50px;
  box-shadow: 0px 0px 5px #32827a;
}
/* Index: Mengatur grid area (kanan) */
.kanan {
  grid-area: kanan;
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  gap: 10px;
  padding: 35px;
  color: white;

  background-color: #1f3a36;
  border-radius: 10px;
  align-content: flex-start;
}
/* index: Mengatur margin pada class kiri */
.kiri {
  margin: 5px;
}

.header,
.contentIndex,
.footer,
.menu,
.sidebar,
.contentAbout {
  border-radius: 5px;
}
/* ---------------------------------------------------------------------------------- */
/* Halaman About Us */
/* About_us: Mengdeklarasikan class contentAbout berada di grid area content pada class container serta mengatur grid pada class tersebut */
.contentAbout {
  grid-area: content;

  display: grid;
  grid-template-areas:
    "baris1 baris1 baris1"
    "kiri tengah kanan"
    "table table sumber";

  grid-template-rows: 20% 30% 60%;
  grid-template-columns: 1fr 1fr 1fr;
  box-shadow: 0px 0px 8px black;
  background-color: #f4f1e6;
  justify-content: center;
}
/* about_us: Mengdeklarasikan class .pengerjaan berada di grid area class table pada class contentAbout */
.pengerjaan {
  grid-area: table;
  margin-left: 40px;
  margin-top: 40px;
}
/* about_us: Mengdeklarasikan class sumber berada di grid area sumber pada class contentAbout sekaligus mengatur isi pada container class tersebut*/
.sumber {
  grid-area: sumber;
  margin-left: 40px;
  margin-top: 40px;
  font-size: 25px;
  background-color: #1f3a36;
  color: white;
  width: 70%;
  height: 55%;
  border-radius: 5px;
}

/* about_us: Mengdeklarasikan class identitas berada di grid area baris1 pada class contentAbout dan mengatur isi contaner pada class identitas */
.identitas {
  grid-area: baris1;
  padding-left: 55px;
  display: flex;
  flex-direction: column;
}

.identitas p {
  margin: 0px;
  margin-bottom: 10px;
}

.identitas h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* about_us: Mengdeklarikan class person1 berada pada grid area kiri pada class indexAbout */
.person1 {
  grid-area: kiri;
}
/* about_us: Mengdeklarikan class person2 berada pada grid area tengah pada class indexAbout */
.person2 {
  grid-area: tengah;
}
/* about_us: Mengdeklarikan class person3 berada pada grid area kanan pada class indexAbout */
.person3 {
  grid-area: kanan;
}
/* about_us: mengatur class person1/2/3 */
.person1,
.person2,
.person3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  justify-self: center;

  width: 40%;
  height: 76%;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 40px;
  box-shadow: 0px 5px 5px black;
  margin: 30px;
}
/* about_us: Mengatur tag p pada class person1/2/3 */
.person1 p,
.person2 p,
.person3 p {
  text-align: center;
  margin: 0px;
  margin-top: 10px;
  color: black;
}
/* about_us: mengatur img pada class person1/2/3 */
.person1 img,
.person2 img,
.person3 img {
  width: 60%;
  height: 65%;
  border-radius: 50%;
  box-shadow: 0px 5px 5px black;
  margin: 0px;
}

/* layanan: Mengdeklarasikan content-layanan berada pada grid area kanan pada class contaiiner & mengatur isinya */
.content-layanan {
  grid-area: content;

  background-color: #f4f1e6;
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
  padding: 40px;
  color: black;
}
/* layanan: mengatur tag select lyananan yang akan di pilih oleh costumer (drop down) */
select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}
/* layanan: Mengatur tag p pada class form header */
.form-header p {
  font-size: 14px;
  color: #555;
  margin: 0 0 30px 0;
}
/* layanan: mengatur class custom-form agar di atur secara vertikal setiap item (tag) serta m jarak antar item */
.custom-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* layanan: mengatur class form row menjadi dua bagian (dua kolom) serta memiliki jarak */
.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
/* layanan: mengatur tag label pada class input-group */
.input-group label {
  display: block;
  font-size: 13px;
  margin-bottom: 8px;
  color: #000;
}
/* layanan: Mnegatur box inputan dengan class input-wrapper */
.input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #e0e4e2;
  border-radius: 6px;
  background-color: #ffffff;
  transition: border-color 0.3s;
  padding: 5px;
}
/* layanan: mengatur box inputan */
.input-wrapper input,
.input-wrapper select,
.input-wrapper textarea {
  flex: 1px;
  border: none;
  padding: 10px 10px 10px 10px;
  font-size: 14px;
  color: black;
  outline: none;
}

/* layanan: saat curson di arahkan ke box select maka akan berubah menjadi tangan */
.input-wrapper select {
  cursor: pointer;
}
/* Align isi ke atas */
.align-top {
  align-items: flex-start;
}
/* layanan: mengatur box inputan pada type radio dengan class gender */
.gender {
  display: flex;
  gap: 30px;
  padding: 12px 12px 12px 12px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 1px black;
}
/* layanan: mengatur box submit */
.btn-submit {
  background-color: #197762;
  color: #ffffff;
  border: none;
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
  transition: background-color 0.2s;
}
/* layanan: membuat type submit berubah warna saat di sentuh cursor */
.btn-submit:hover {
  background-color: #135c4c;
}
/* evaluasi */
/* evaluasi: mengdeklarasikan class content Evaluasi berada di grid area content pada class cotainer & dan mengatur isinya*/
.content-evaluasi {
  grid-area: content;
  background-color: #f4f1e6;
  padding: 0px;
  background-color: #f4f1e6;
}

/* evaluasi: mengatur table evaluasi agar border jadi gabung dan table memenuhi seluruh isi content */
.evalution-table {
  width: 100%;
  border-collapse: collapse;
}

/* evaluasi: mengatur background color header tabel dan warna founntnya */
.evalution-table thead tr {
  background-color: #0d7c66;
  color: #ffffff;
}

/* evaluasi: mengatur header table (th) */
.evalution-table th {
  padding: 14px 12px;
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
}

/* evaluasi: mengatur isi table pada tag (td) */
.evalution-table td {
  padding: 12px 12px;
  font-size: 19px;
  color: #334155;
}

/* evaluasi: mengatur agar baris agar warna bervariasi */
.evalution-table tbody tr:nth-child(even) {
  background-color: #f8fafc;
}

/* evaluasi: mengatur kolom nomor */
.evalution-table td:first-child {
  text-align: center;
  font-weight: 500;
  width: 50px;
}
/* evaluasi: mengatur class center agar berada di tengah secara horizontal dan memiliki lebar 70px */
.center {
  text-align: center;
  width: 70px;
}

/* evaluasi: mengatur type chek box */
.center input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
  accent-color: #0d7c66;
}
